.form-group {
    padding: $base-spacing-unit 0px;
    margin: 0 auto;
}

form {
    margin: 0 auto;
}

label {
    /* To make sure that all label have the same size and are properly align */
    display: block;
}

input, textarea {
    /* To give the same size to all text field */
    width: 100%;
    padding: 8px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* To harmonize the look & feel of text field border */
    border: 1px solid #999;
}

input:focus, textarea:focus {
    /* To give a little highligh on active elements */
    border-color: #000;
}

textarea {
    /* To properly align multiline text field with their label */
    vertical-align: top;
    /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
    resize: vertical;
}

.button--contact {
    width: 30%;
    margin: 0 auto;
}

.contact-note{
    font-size: 12px;
}

@media (max-width: 599px) {
    .button--contact {
        width: 100%;
    }
}
