.hero {
    background-image: url(/Images/hero.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    position: relative;
}

.hero-text {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    color: $brand-color-light;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

.services-icon {
    max-height: 175px;
}


@media (max-width: 899px) {
    .hero {
    background-image: url(/Images/hero-mobile.jpg);
}

    .services-icon {
        padding-top: $base-spacing-unit * 2;
        max-height: 100px;
    }
}
